/* SIDEBAR */

@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

:root {
	--primary-color: #2117da;
	--primary-color-dark: #2d24e5;
	--button-color: #032662;
	--button-color-shadow: #0586a330;
	--text-color: white;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Mulish;
}

.background {
	content: '';
	position: absolute;
	height: 100vh;
	width: 100vw;
	display: grid;
	place-items: center;
	opacity: 0.5;
	background-size: 100%;
	background-repeat: no-repeat;
	background-size: auto;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	background-color: var(--primary-color);
	width: 18rem;
	padding: 1.8rem 0.85rem;
	color: var(--text-color);
	display: flex;
	flex-direction: column;
	transition: width 0.5s ease-in-out;
}

main {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.sidebar-top {
	position: relative;
	display: flex;
	align-items: center;
	margin-bottom: 32px;
}

.sidebar-top .logo {
	position: relative;
	width: 54px;
	margin-right: 1.45rem;
	left: -1px;
}

.sidebar-top h2 {
	padding-left: 0.5rem;
	font-weight: 600;
	font-size: 1.4rem;
}

.expand-btn {
	position: absolute;
	top: 50%;
	width: 45px;
	height: 45px;
	display: grid;
	place-items: center;
	background-color: var(--button-color);
	border-radius: 6px;
	cursor: pointer;
	box-shadow: 0 3px 10px -3px var(--button-color-shadow);
	right: -3rem;
	transform: translateY(-50%) translateX(-8px);
	opacity: 0;
	pointer-events: none;
	transition: 0.3s;
}

nav:hover .expand-btn,
.expand-btn.hovered {
	transform: translateY(-50%) translateX(0px);
	opacity: 1;
	pointer-events: all;
}

.sidebar-links ul {
	list-style-type: none;
	position: relative;
}

.sidebar-links li {
	position: relative;
}

.sidebar-links li a {
	padding: 12px;
	color: var(--text-color);
	font-size: 1.25rem;
	display: flex;
	align-items: center;
	height: 56px;
	text-decoration: none;
	color: #fff;
}

.icon {
	display: flex;
	align-items: center;
}

.icon img {
	width: 26px;
	height: 26px;
	margin: auto;
}

.sidebar-links .link {
	margin-left: 40px;
}

.sidebar-links .active {
	width: 100%;
	text-decoration: none;
	background-color: var(--primary-color-dark);
	transition: all 100ms ease-in;
	border-radius: 10px;
}

.collapsed nav {
	width: 80px;
}

.collapsed .hide {
	opacity: 0;
	pointer-events: none;
	transition-delay: 0s;
}

.collapsed .expand-btn img {
	transform: rotate(-180deg);
}

.red {
	background-color: red;
}

html {
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 5%;
	color: white;
}

@media (max-width: 900px) {
	html {
		margin-left: 25%;
		margin-right: 5%;
		margin-top: 5%;
	}
}

#form-port {
	margin-top: 2em;
	color: black;
	margin-bottom: 2em;
}

form button {
	width: 5em;
	height: 2em;
	margin-left: 2em;
	margin-top: 2em;
}

#informative {
	margin-top: 4em;
}

.redf {
	color: rgba(241, 54, 7, 0.859);
}

.results-table {
	margin: 1em;
	text-align: center;
	background-color: rgb(1, 21, 32);
	border: 1px solid rgba(0, 140, 255, 0.473);
}

.results-table td {
	padding: 1em;
	border: 1px solid rgba(0, 47, 255, 0);
}

.results-table th {
	background-color: rgba(51, 0, 255, 0.191);
	padding: 1em;
}

label {
	color: white;
	margin: 1em;
}

.up-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-right: 25%;
	padding-left: 25%;
}

#metric {
	margin-bottom: 10%;
}
